body {
    margin: 0;
    padding: 0;
    background: url("./assets/background.jpg");
    backdrop-filter: blur(7px);
    background-size: cover;
}

.navbar-button {
    color: #ffd700 !important;
    font-size: 1.3rem !important;
}
